.tir{
    height: 8px;
    width: 14%;
    background-color:black;
}
.dinech{
    width: 100%;
    height: 400px;
}
#order{
    width: 100%;
    height: 40px;
    padding: 15px;
}
.dineche{
    width: 100%;
    height: 570px;
}
#ordered{
    width: 98%;
    height: 40px;
    
}